
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

html{
    transition: 0.3s ease;
}

.about_container{
    padding: 70px 0;
}
.about_heading{
    text-align: center;
    padding-bottom: 50px;
}
.about_heading h2{
font-size: 40px;
font-weight: 700;

}
.about_heading span{
color: #DC143C;
}

.about_btn{
    text-align: center;
    gap: 30px;
    padding: 50px 0;
}
.about_btn button{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 8px 35px;
    margin: 10px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
   
}
.about_btn button:hover{
    background-color: #E4002B;
    color: #fff;
    /* border: 2px solid #03A9F4; */
}
.about_btn button:focus{
    background-color: #E4002B;
    color: #fff;
    border: 2px solid #03A9F4;
}


.about_all{
    width: 85%;
    margin: auto;
   
}

.about_box1{
    height: auto;
    width: 90%;
}
.about_box2{
    width:90%;
    
}
.about_box2 li{
margin-top: 20px;
font-size: 20px;
font-weight: 400;
}

.box1_gif{
    height: 100%;
    width: 100%;
}

/* -----------------------exp----------------------------------------- */
/* .experience{
    border: 1px solid blue;
   
} */

.coding_h{
    border: 1px solid rgb(0, 255, 64);
    width: 50%;
    height: 110px;
    text-align: center;
    margin: auto;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    margin-bottom: 40px;

}
.projects{
    padding: 20px;
}
.coding_h h2{
    font-size: 40px;
    font-weight: 900;
}
.coding_h p{
    font-size: 15px;
    font-weight: 700;
    margin: -10px 0 0 25px;
}

.projects_exp{
    height: 110px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content_exp{
    text-align: center;
}

.content_exp h4{
font-size: 30px;
font-weight: 700;
}

.content_exp p{
    font-size: 15px;
    font-weight: 400;
}


